@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text-color: #e2e8f0; /* This is Tailwind's slate-200 color */
}

* {
  box-sizing: border-box;
}

body {
  @apply text-slate-200;
}

body > * {
  font-family: inherit;
}
